.content_Post{
	margin-top: 30px;
	font-size: 25px;
	font-weight: 600;
}
.content_p{
	
	display: flex;
}
.from{
	font-size: 18px;
	font-weight: 500;
}
.content_p img{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	margin-right: 10px;
}