/* NAV */


.nav{
	grid-area: n;
	font-size: 25px;
	font-weight: 700;
	width: 100%;
	background-color: #E8E8E8;
}

.nav_a{
 	margin-left: 20px;

}
.nav div{
	 margin-top: 5px;
}
a{
	text-decoration:none;
	color: black;
}

a.activeLink{
	color: #444444;
}